<EditForm Model="@userDTO" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group mb-3">
        <label for="firstName">First Name</label>
        <input id="firstName" class="form-control" @bind="userDTO.FirstName" />
    </div>

    <div class="form-group mb-3">
        <label for="lastName">Last Name</label>
        <input id="lastName" class="form-control" @bind="userDTO.LastName" />
    </div>

    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" @bind="userDTO.Email" />
    </div>

    <div class="form-group mb-3">
        <label for="phone">Phone</label>
        <input id="phone" class="form-control" @bind="userDTO.Phone" />
    </div>

    <div class="form-group mb-3">
        <label for="address1">Address Line 1</label>
        <input id="address1" class="form-control" @bind="userDTO.AddressLine1" />
    </div>

    <div class="form-group mb-3">
        <label for="address2">Address Line 2</label>
        <input id="address2" class="form-control" @bind="userDTO.AddressLine2" />
    </div>

    <div class="form-group mb-3">
        <label for="city">City</label>
        <input id="city" class="form-control" @bind="userDTO.City" />
    </div>

    <div class="form-group mb-3">
        <label for="state">State</label>
        <input id="state" class="form-control" @bind="userDTO.State" />
    </div>

    <div class="form-group mb-3">
        <label for="postalCode">Postal Code</label>
        <input id="postalCode" class="form-control" @bind="userDTO.PostalCode" />
    </div>

    <div class="form-group mb-3">
        <label for="dob">Date of Birth</label>
        <input id="dob" class="form-control" type="date" @bind="userDTO.DateOfBirth" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private UserDTO userDTO = new();

    private void HandleValidSubmit()
    {
        // You can send to API or database here
    }

    public class PersonModel
    {
        [Required]
        public string FirstName { get; set; }
        [Required]
        public string LastName { get; set; }
        [Required, EmailAddress]
        public string Email { get; set; }
        [Required, Phone]
        public string Phone { get; set; }
        [Required]
        public string AddressLine1 { get; set; }
        public string AddressLine2 { get; set; }
        [Required]
        public string City { get; set; }
        [Required]
        public string State { get; set; }
        [Required]
        public string PostalCode { get; set; }
        [Required]
        public DateTime DateOfBirth { get; set; }
    }
}
