@page "/login"
@using UI.Clients
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject IApiClient ApiClient

<h3>Login</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<div>
    <label>Email</label>
    <input @bind="loginModel.Email" placeholder="Email" class="form-control" />

    <label>Password</label>
    <input @bind="loginModel.Password" placeholder="Password" type="password" class="form-control" />
    <button @onclick="HandleLogin" class="btn btn-primary mt-2">Login</button>
    <button @onclick="GoToRegister" class="btn btn-primary mt-2">Go To Register</button>
</div>

@code {
    private AuthenticationDTO loginModel = new AuthenticationDTO() { Email = string.Empty, Password = string.Empty };
    private string? ErrorMessage;

    private void GoToRegister()
    {
        Nav.NavigateTo("/register");
    }

    private async Task HandleLogin()
    {
        var auth = new AuthenticationDTO()
        {
            Email = loginModel.Email,
            Password = loginModel.Password
        };
        var result = await ApiClient.LoginAsync(auth);
        if (result)
        {
            Nav.NavigateTo("/home");
        }
        else
        {
            ErrorMessage = "Invalid credentials.";
        }
    }
}
