@page "/register"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@using UI.Clients
@inject NavigationManager Nav
@inject IApiClient ApiClient
@inject AuthenticationStateProvider AuthProvider

<h3>Register</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<div>
    <label>Email</label>
    <input @bind="registerModel.Email" placeholder="Email" class="form-control" />

    <label>Password</label>
    <input @bind="registerModel.Password" placeholder="Password" type="password" class="form-control" />

    <label>FirstName</label>
    <input @bind="registerModel.FirstName" placeholder="FirstName" class="form-control" />

    <label>LastName</label>
    <input @bind="registerModel.LastName" placeholder="LastName" class="form-control" />

    <button @onclick="HandleRegister" class="btn btn-primary mt-2">Register</button>
    <button @onclick="GoToLogin" class="btn btn-primary mt-2">Go To Login</button>
</div>

@code {
    private RegistrationDTO registerModel = new RegistrationDTO() { Email = string.Empty, Password = string.Empty };
    private string? ErrorMessage;

    private void GoToLogin()
    {
        Nav.NavigateTo("/");
    }

    private async Task HandleRegister()
    {
        var auth = new RegistrationDTO()
            {
                Email = registerModel.Email,
                Password = registerModel.Password,
                FirstName = registerModel.FirstName,
                LastName = registerModel.LastName
            };
        var result = await ApiClient.RegisterAsync(registerModel);
        if (result)
        {
            Nav.NavigateTo("/");
        }
        else
        {
            ErrorMessage = "Registration failed.";
        }
    }
}
