@page "/register"
@using Microsoft.AspNetCore.Components.Authorization
@using UI.Clients
@inject NavigationManager Nav
@inject IApiClient ApiClient
@inject AuthenticationStateProvider AuthProvider

<h3>Register</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<EditForm Model="@registerModel" OnValidSubmit="@HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="registerModel.Email" placeholder="Email" class="form-control" />
    <InputText @bind-Value="registerModel.Password" placeholder="Password" type="password" class="form-control" />
    <InputText @bind-Value="registerModel.FirstName" placeholder="Firstname" class="form-control" />
    <InputText @bind-Value="registerModel.LastName" placeholder="Lastname" class="form-control" />
    <button class="btn btn-primary mt-2">Register</button>
</EditForm>

@code {
    private RegistrationDTO registerModel = new RegistrationDTO() { Email = string.Empty, Password = string.Empty };
    private string? ErrorMessage;

    private async Task HandleRegister()
    {
        var auth = new RegistrationDTO()
            {
                Email = registerModel.Email,
                Password = registerModel.Password,
                FirstName = registerModel.FirstName,
                LastName = registerModel.LastName
            };
        var result = await ApiClient.RegisterAsync(registerModel);
        if (result)
        {
            Nav.NavigateTo("/");
        }
        else
        {
            ErrorMessage = "Registration failed.";
        }
    }
}
